:root {
    --p-color: #205464;
    --s-color: #c95f5f;
    --w-color: #ffffff;
    --t-color: #212226;
    --t-font: 'Libre Franklin', sans-serif;
    --nav-font: 'Englebert', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#home,
#main-home {
    width: 100%;
    background: url("../img/header.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--w-color);
    z-index: -1;
}

#home {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#main-home {
    height: 50vh;
    position: relative;
    z-index: 1;
}

#main-home #home-overlay > .home-content {
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}

#main-home #home-overlay > .home-content h2 {
    font-family: var(--nav-font);
    letter-spacing: .2rem;
    font-weight: 100;
    text-shadow: 0 0 3px;
}

#main-home .home-content {
    display: none;
}

#home-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo-bg {
    width: 100%;
    height: 30%;
    background: url("../img/bg-1.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 2;
}

.text-lg {
    width: 100%;
    background: var(--p-color);
    padding: 50px 0;
    display: none;
    margin-bottom: -20px !important;
}

.text-lg h2 {
    text-transform: uppercase;
    font-family: var(--nav-font);
    letter-spacing: .3rem;
    font-size: 2.8em;
}

.text-lg h5 {
    font-family: var(--t-font);
    font-size: 1.6em;
}

.advert-msg {
    margin-top: -145px;
}

.advert-msg h3 {
    font-family: var(--t-font);
    font-size: 24px;
    line-height: 1.3;
    text-shadow: 2px 2px 10px var(--w-color);
}

#login {
    width: 100%;
    margin-top: 20px;
    z-index: 3;
}

#login .card-logo {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: -20px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

#login form {
    padding: 0px 30px 30px;
    background: hsla(0, 20%, 100%, .8);
    width: 100%;
    -webkit-box-shadow: inset 0px 0px 3px hsla(0, 0%, 50%, .8);
    box-shadow: inset 0px 0px 3px hsla(0, 0%, 50%, .8);
    border-radius: 5px;
    border-top: 6px solid var(--s-color);
    margin-top: 50px;
}

#login .form-group > .form-control {
    margin-top: -20px;
}

#login .form-control {
    font-family: var(--t-font);
    width: 100%;
    padding: 20px auto;
    -webkit-box-shadow: inset 0px 1px 2px var(--p-color), inset 1px 0 2px var(--p-color), inset -1px -1px 2px var(--p-color);
    box-shadow: inset 0px 1px 2px var(--p-color), inset 1px 0 2px var(--p-color), inset -1px -1px 2px var(--p-color);
}

#login small {
    margin: 0;
    padding: 0;
    font-family: var(--t-font);
    font-size: 12px;
    text-transform: lowercase;
    color: var(--s-color);
    padding-left: 4px;
}

#login .login-btn {
    background: var(--p-color);
    color: var(--w-color);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: var(--nav-font);
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#login .login-btn:hover {
    background: var(--s-color);
}

.promo-advert {
    margin-top: 50px;
    border: 1px solid var(--w-color);
    border-radius: 5px;
    padding: 10px;
    background: var(--s-color);
    color: var(--w-color);
    text-align: center;
}

.promo-advert p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    line-height: 1.4;
}

/* Main Page */
#products {
    width: 100%;
}

.content-box {
    margin: 50px auto;
}

.heading {
    border-bottom: 4px solid var(--s-color);
    border-radius: 5px;
    padding-bottom: 3px;
}

.heading h2 {
    text-transform: uppercase;
    font-family: var(--t-font);
    margin: 0;
    padding: 0;
}

.heading h5 {
    font-size: 13px;
    font-family: var(--t-font);
    margin: 0;
    padding: 0;
    color: var(--s-color);
    margin-top: 3px;
}

.heading h5 strong {
    color: var(--p-color)
}

#product-container {
    margin-top: 18px;
}

.product {
    font-family: var(--t-font);
}

.product .title {
    margin-bottom: 16px;
}

.product .title h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

.product .time,
.product time {
    font-size: 12px;
    color: #aaa;
    border-bottom: 2px solid var(--p-color);
}

.product .description {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
}

.benefits {
    margin: 18px auto;
}

.benefits h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.benefits p,
.warranty p,
.extras p,
.disclamer p,
.delivery p {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.7;
}

.price-info {
    -webkit-box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.5);
    box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border-left: 4px solid var(--s-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.price-info p {
    font-size: 14px;
    margin: 8px auto;
}

.price-info p.list s {
    color: var(--s-color);
}

.price-info p.current {
    font-weight: 900;
    letter-spacing: 0.07rem;
}

.price-info p.current strong {
    color: darkgreen;
}


.disclamer .pls {
    color: var(--s-color);
    font-weight: 600;
}

.order {
    margin: 40px auto;
}

.order-btn {
    background: -webkit-gradient(linear, left top, right top, from(var(--p-color)), to(var(--t-color)));
    background: linear-gradient(to right, var(--p-color), var(--t-color));
    border: none;
    border-radius: 50px;
    color: var(--w-color);
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

.order-btn:hover {
    background: var(--s-color);
    border: none;
    border-radius: 50px;
    color: var(--w-color);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.contact h4 {
    border-bottom: 4px solid var(--s-color);
    border-radius: 5px;
}

.contact p {
    font-size: 15px;
    line-height: 1.7
}

.contact p span.phone {
    font-weight: 600;
    border-bottom: 2px solid var(--p-color);
}

.feedback {
    margin-bottom: 40px;
}

.feedback p {
    font-size: 14px;
    font-weight: 600;
}

.feedback p a {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    text-transform: lowercase;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--p-color);
    text-decoration-color: var(--p-color);
    cursor: pointer;
}

.pagination ul {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    margin: 20px auto;
}

/* Search */
#search form {
    position: relative;
}

#search form input {
    position: absolute;
    top: 0;
    left: 0;
}

#search form button {
    position: absolute;
    right: 0px;
    top: -8px;
    border-left: none;
}

footer {
    border-top: 2px solid var(--p-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px
}

footer p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: hsl(120, 60% 100%);
}

/* Order Form */
.order-form {
    border: 2px solid var(--p-color);
    -webkit-box-shadow: inset 0 -4px var(--s-color), 0 0 1px var(--p-color);
    box-shadow: inset 0 -4px var(--s-color), 0 0 1px var(--p-color);
    border-bottom: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 18px;
    display: none;
    z-index: 5;
}

.order-form .form-group label {
    font-size: 13px;
    margin-bottom: 3px;
}

/* Testimony */
.testimony {
    margin: 30px auto 10px;
}

.test {
    border-bottom: 1px solid var(--p-color);
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 20px auto;
}

.testimony .t-img {
    text-align: center;
    border: 1px solid var(--s-color);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px var(--p-color);
    box-shadow: 0 0 3px var(--p-color);
}

.testimony .t-body {
    margin-top: 20px;
}

.testimony .t-body p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 8px;
}

.testimony .t-author {
    border-radius: 10px;
    border-top: 1px solid var(--p-color);
    border-bottom: 1px solid var(--p-color);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

/* Order Summary */
.order-summary {
    -webkit-box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.8);
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.8);
    padding: 15px 10px;
    border-radius: 5px;
    margin: 20px auto;
}

.order-summary div {
    border-radius: 10px;
    border-top: 1px solid var(--p-color);
    border-bottom: 1px solid var(--p-color);
    margin-bottom: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.order-summary div:hover {
    color: var(--w-color);
    background: var(--s-color);
    border-color: var(--s-color);
}

.order-summary div > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.order-summary div > p span {
    font-family: var(--nav-font);
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
}

.thankYou > p {
    font-size: 28px !important;
    margin-bottom: 30px !important;
    font-family: var(--t-font);
    line-height: 1.3 !important;
}

.thankYou > p.note {
    color: var(--s-color);
} 

.p-toast {
    border: 1px solid var(--p-color);
    -webkit-box-shadow: 0px 0px 4px var(--p-color);
    box-shadow: 0px 0px 4px var(--p-color);
    width: 300px;
    max-height: 130px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    border-radius: 5px;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    background: var(--w-color);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: var(--t-font);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 4;
}

.logo-section {
    width: 100px;
    margin-right: 10px;
    border-right: 2px solid var(--p-color);
    border-radius: 5px;
    padding: 0 5px 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.logo-section img {
    text-align: center;
}

.purchase-section p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
}

.c-name {
    font-weight: bold;
    font-family: var(--nav-font);
    font-size: 15px;
}

p.time {
    text-transform: lowercase !important;
    font-size: 13px;
}


.p-toast.show-anim {
    opacity: 0;
}

/* Navigation */
.not-mobile {
    display: none;
}

.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 12;
}

.mobile .nav-logo {
    z-index: 2;
}

.mobile .nav-logo img {
    width: 150px;
    min-width: 100px;
    display: block;
    height: auto;
    margin-top: -30px;
}

.open-nav {
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: absolute;
    right: 20px;
    top: 43px;
    cursor: pointer;
    z-index: 12;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;

}

.open-nav span {
    border-top: 5px solid var(--w-color);
    width: 50px;
    height: 4px;
    display: block;
    margin-bottom: 4px;
    border-radius: 5px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;

}

.open-nav.close-nav span {
    border-color: var(--s-color);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;

}

.open-nav.close-nav span:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(11px);
    transform: rotate(45deg) translateY(11px);
}

.open-nav.close-nav span:nth-child(2) {
    opacity: 0;
}

.open-nav.close-nav span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-14px);
    transform: rotate(-45deg) translateY(-14px)
}

.mobile-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

.mobile-content {
    margin-left: -9999px;
}

.mobile-content .nav-logo {
    margin-left: -30px;
}

.mobile-content .items {
    padding: 0;
    margin: 0;
}

.mobile-content .items .item {
    list-style-type: none;
    margin-bottom: 10px;
}

.mobile-content .items .item a {
    display: inline-block;
    padding: 10px 20px 5px 0;
    color: var(--t-color);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--nav-font);
}

.mobile-content .items .item a.active {
    border-bottom: 2px solid var(--s-color);
}

.mobile-content .items .item a:hover {
    border-bottom: 2px solid var(--s-color);
    text-decoration: none;
    color: #aaa;
}

/* Back to Top */
#back-to-top {
    position: fixed;
    right: 5px;
    bottom: 4px;
    border: 1px solid var(--p-color);
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
    transition: all 400ms linear;
    opacity: 0;
}

#back-to-top a {
    display: inline-block;
    padding: 8px;
    background: var(--p-color);
    color: var(--w-color);
    border-radius: 5px;
    font-size: 13px;
    transition: all 400ms linear;
}

#back-to-top a:hover {
    background: var(--s-color);
}

#back-to-top:hover {
    transform: translateY(-5px);
    border-color: var(--s-color);
}



/* Responsive Stylings */
@media (min-width: 768px) {
    .logo-bg {
        display: none;
    }
    
    #main-home .home-content {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #main-home .home-content h2 {
        font-family: var(--nav-font);
        font-size: 42px;
        letter-spacing: .2rem;
        text-shadow: 0 0 4px;
    }

    #main-home #home-overlay {
        display: none;
    }
    
    .text-lg {
        display: block;
    }
    
    .advert-msg {
        margin-top: 50px;
    }

    .advert-msg h3 {
        font-family: var(--t-font);
        font-size: 35px;
        line-height: 1.3;
        text-shadow: 2px 2px 10px var(--w-color);
    }


    #login {
        margin-top: 150px;
    }

    .not-mobile {
        display: block;
        z-index: 3;
    }

    /* Navigation */
    .mobile,
    .mobile-content {
        display: none;
    }

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background: var(--p-color);
        height: 90px;
        color: var(--w-color);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 10;
        width: 100%;
    }

    .nav-logo {
        margin-bottom: -4px;
        padding-left: 20px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .nav-logo img {
        min-width: 100px;
        display: block;
        width: 200px;
    }

    .items {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .items .item {
        list-style-type: none;
        margin-right: 15px;
        font-family: var(--nav-font);
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1rem;
    }

    .items .item:last-child {
        margin-right: 50px;
    }

    .items .item a {
        display: inline-block;
        padding: 10px 20px;
        color: var(--w-color);
        -webkit-transition: all 100ms linear;
        transition: all 100ms linear;
        border-radius: 5px;
    }

    .items .item a.active {
        border-bottom: 2px solid var(--s-color);
    }

    .items .item a:hover {
        border-bottom: 2px solid var(--s-color);
        text-decoration: none;
        color: #aaa;
    }
    
    /*  Back to Top  */
    #back-to-top {
        right: 30px;    
    }
    
    #back-to-top a {
        padding: 10px;
        font-size: 18px;
        transition: all 400ms linear;
    }
}

@media (min-width: 1024px) {
    
    .advert-msg {
        margin-top: 60px;
    }
    
    .heading h2 {
        font-size: 34px;
    }

    .heading h5 {
        font-size: 18px;
    }

    .product .title h3 {
        font-size: 24px;
    }

    .benefits h5 {
        font-size: 18px;
    }


    .product p {
        font-size: 15px;
    }

    .price-info p {
        font-size: 18px;
    }
}